<div class="ui teal segment">
	<div class="ui items">
		<% if profile.user.account.is_premium? %>
				<div class="ui red ribbon label">
					<%= semantic_icon('star') %>
					Premium
				</div>
		<% end %>
		<div class="extra">
			<div class="ui right floated">
				<%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: profile.user.id), method: "post", class: "ui teal button" %>
			</div>
		</div>
		<div class="item">
			<a class="ui tiny image">
				<%= image_tag profile.user.image unless profile.user.image.nil? %>
			</a>
			<div class="content">
				<%= link_to profile.user.username || profile.user.name, user_profile_path(profile.user), class: "header" %>
				<div class="description">
					Age: <%= profile.age %><br>
					Fitness Level: <%= profile.f_level %><br>
					Gender: <%= profile.gender %><br>
					Sports: <% profile.sports.each do |sport| %>
							<%= sport.name %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>




