<div class="banner">
	<p>Buddy Search </p>
</div>
<br/>
<div class="search">
	<div class="ui grid">
		<div class="row">

		</div>
	</div>
</div>
<div class="ui container">
	<div class="ui grid">

		<div class="five wide column">
			<div class="banner column">

				<!--<img src="assets/premium-banner.png"/>-->
				<%= link_to image_tag("premium-banner.png", :border=>0), user_account_path(current_user), class: "banner" %>
			</div>
		</div>

		<div class="eleven wide column">
			<div class="ui items">
				<% @users.each do |user| %>
						<% if user.account.is_premium? %>
								<div class="ui red ribbon label">
									<%= semantic_icon('star') %>
									Premium
								</div>
						<% end %>
						<div class="item">
							<a class="ui tiny image">
								<%= image_tag user.image unless user.image.nil? %>
							</a>
							<div class="content">
								<a class="header"><%=link_to user.name || user.username, user_profile_path(user) %></a>
								<div class="description">
									Age: <%= user.profile.age %><br>
									Gender: <%= user.profile.gender %><br>
									Fitness Level: <%= user.profile.f_level %><br>
									Sports: <% user.profile.sports.each do |sport| %>
												<%= sport.name %>
											<% end %><br>
								</div>
							</div>
						</div>
						<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>