<div class="ui modal">
	<div class="ui four cards">
		<% current_user.profile.images.each do |image| %>
				<a class="red card">
					<div id="image-<%= image.id %>" class="image select-img">
						<%= image_tag image.image.url %>
					</div>
				</a>
		<% end %>
	</div>
</div>

<div class="banner">
	<p>Workout Buddy Profile: <%= @user.username || @user.name %></p>
</div>
<br/>
<div class="ui container">
	<div class="ui grid">
		<div class="row">
			<div class="four wide column">
				<div class="ui card">
					<div id="ajax-img" class="blurring dimmable image">
						<div class="ui dimmer">
							<div class="content">
								<div class="center">
									<div id="new-img" class="ui inverted button">Change Image</div>
								</div>
							</div>
						</div>
						<% if @user.image %>
								<%= image_tag @user.image %>
						<% else %>
								<img src="/assets/steve.jpg">
						<% end %>
					</div>
					<div class="content">
						<div class="header">
							<%= @user.name || @user.username %>
						</div>
						<div class="meta">
							member since <%= @user.created_at.strftime("%B %Y") %>
						</div>
					</div>
					<% unless current_user == @user %>
					<div class="extra">
						<div class="ui right floated">
							<%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post", class: "ui teal button" %>
						</div>
					</div>
							<% end %>
				</div>
			</div>
			<div class="three wide column">
				<div id="age" class="ui left icon input">
					<% if @user == current_user %>
							<span><%= semantic_icon('edit') %></span>
					<% end %>
					<p>Age: <span id="age-span"><%= @user.profile.age %></span></p>
				</div>
				<br>
				<br>
				<div id="edit-age" class="ui field form">
					<%= form_for @profile, {url: user_profile_path(@user), remote: true} do |f| %>
							<%= f.number_field :age %>
							<%= f.submit id: "age-btn" %>
					<% end %>
				</div>
				<div id="gender" class="ui left icon input">
					<% if @user == current_user %>
							<span><%= semantic_icon('edit') %></span>
					<% end %>
					<p>Gender: <span id="gender-span"><%= @user.profile.gender %></span></p>
				</div>
				<br>
				<br>
				<div id="edit-gender" class="ui field form">
					<%= form_for @profile, {url: user_profile_path(@user), remote: true} do |f| %>
							<%= f.collection_select(:gender, Profile::GENDER, :to_s, :to_s,
							                        :include_blank => true) %>
							<%= f.submit id: "gender-submit" %>
					<% end %>
				</div>
				<div id="fitness-level" class="ui left icon input">
					<% if @user == current_user %>
							<span><%= semantic_icon('edit') %></span>
					<% end %>
					<p>Fitness Level: <span id="level-span"><%= @user.profile.f_level %></span></p>
				</div>
				<br>
				<br>
				<div id="edit-f_level" class="ui field form">
					<%= form_for @profile, {url: user_profile_path(@user), remote: true} do |f| %>
							<%= f.collection_select(:f_level, Profile::FLEVEL, :to_s, :to_s,
							                        :include_blank => true) %>
							<%= f.submit id: "level-submit" %>
					<% end %>
				</div>
				<div id= "county" class="ui left icon input">
					<% if @user == current_user %>
							<span><%= semantic_icon('edit') %></span>
					<% end %>
					<p>County: <span id="county-span"><%= @user.profile.county %></span></p>
				</div>
				<br>
				<br>
				<div id="edit-county" class="ui field form">
					<%= form_for @profile, {url: user_profile_path(@user), remote: true} do |f| %>
							<%= f.collection_select(:county, Profile::COUNTY, :to_s, :to_s,
							                        :include_blank => true) %>
							<%= f.submit id: "county-submit" %>
					<% end %>
				</div>

				<div id="sport" class="ui left icon input">
					<% if @user == current_user %>
							<span><%= semantic_icon('edit') %></span>
					<% end %>
				</div>

				Sports: <span id="sport-span"><% @user.profile.sports.each do |sport| %></span>
								<% unless sport.name.nil? %>
									<div class="ui basic label">
										<% if @user == current_user %>
											<%= link_to semantic_icon('delete', id: "delete-#{sport.id}", remote: true) %>
										<% end %>
										<%= sport.name %>
									</div>
								<% end %>
							<% end %>


				<div id="sport-form" class="ui field form">
					<%= form_for @sport, url: user_profile_path(@user), method: :patch, remote: true do |f| %>
							<%= f.text_field :name %>
							<p>Please comma seperate your hobbies e.g fun, games, love</p>
					<% end %>
				</div>
				</div>
			<div class="nine wide column">

				<div class="ui top attached inverted header">
					Description:
					<% if @user == current_user %>
							<div class="ui right floated icon">
								<span id="edit-description" data-content="click to edit your description"><%= semantic_icon("edit") %></span>
							</div>
					<% end %>
				</div>
				<div class="ui attached segment">
					<% if @user.account.is_premium? %>
						<div class="ui red ribbon label">
							<%= semantic_icon('star') %>
							Premium
						</div>
						<% end %>
					<div id="description">
						<br>
						<p><%= @user.profile.description %></p>
					</div>
					<div id="description-form" class="ui field form">
						<%= form_for @profile, {url: user_profile_path(@user), remote: true} do |f| %>
								<%= f.label :edit_description %>
								<%= f.text_area :description, rows: 2 %>
								<br>
								<br>
								<%= f.submit class: "ui teal button" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.label').on('click', function (e) {
        var id1 = e.target.id;
        var id = id1.substring(7, 99);
        console.log(id);
        $.ajax({
            type: 'delete',
            url: '/users/' + <%= current_user.id.to_s %> +'/profile',
            data: {
                id: id
            },
            success: function (response) {
                console.log(response);
                $('#delete-' + response.sport_id).fadeOut();
            }
        });
    });
    $('#sport-form').on('ajax:success', function (e, data) {
        console.log(data);
//        debugger
        var sports = $('#sport-span');
        for (var i = 0; i < data.sports.length; ++i) {
            sports.append("<p><span <span class='ui basic label'>" + data.sports[i].name + "</span></p>");
        }
        $('#sport-form').fadeOut();
        sports.fadeIn();
    });

    $('#sport .edit').on('click', function () {
        $('#sport-form').css('display', 'block')
    });

    $('#county .edit').on('click', function () {
        $('#edit-county').toggle();
    });

    $('#age .edit').on('click', function () {
        $('#edit-age').toggle();
    });

    $('#gender .edit').on('click', function () {
        $('#edit-gender').toggle();
    });

    $('#fitness-level .edit').on('click', function () {
        $('#edit-f_level').toggle();
    });

    $('#edit-age').on('ajax:success', function (e, data) {
        $('#age').css('display', 'block');
        $('#edit-age').css('display', 'none');
        $('#age-span').html(data.age)
    });

    $('#edit-gender').on('change', function (e, data) {
        $('#gender-submit').click();
        $('#gender').css('display', 'block');
        $('#edit-gender').css('display', 'none');
    });

    $('#edit-county').on('change', function (e, data) {
        $('#county-submit').click();
        $('#county').css('display', 'block');
        $('#edit-county').css('display', 'none');
    });

    $('#edit-county').on('ajax:success', function (e, data) {
        $('#county-span').html(data.county);
    });

    $('#edit-gender').on('ajax:success', function (e, data) {
        $('#gender-span').html(data.gender);
    });


    $('#edit-f_level').on('change', function (e, data) {
        $('#level-submit').click();
        $('#fitness-level').css('display', 'block');
        $('#edit-f_level').css('display', 'none');
    });

    $('#edit-f_level').on('ajax:success', function (e, data) {
        $('#level-span').html(data.f_level);
    });


    $('#edit-description').popup();


    $('#edit-description').on('click', function () {
        $('#description').css('display', 'none');
        $('#description-form').css('display', 'block');
    });

    $('#description-form').on('ajax:success', function (e, data) {
//	    console.log(data)
        $('#description').css('display', 'block');
        $('#description-form').css('display', 'none');
        $('#description').html('<br>' + data.description);
    });


    $('.select-img').on('click', function () {
        var src = $(this).children().attr("src");
        var id = <%= @user.id %>
            console.log(src);
        $.ajax({
            method: "PATCH",
            url: "/users/" + id,
            data: {
                image: src
            },
            success: function (data) {
                console.log(data);
                $('.modal').modal("toggle");
                var change = $('#ajax-img > img');
                change.attr('src', data.image, +'?' + new Date().getTime());

            }
        })
    });

    <% if @user == current_user %>
    $('.card .image').dimmer({
        on: 'hover'
    });

    $('#new-img').on('click', function () {
        $('.ui.modal').modal('show')
        ;
    });
    <% end %>
</script>