<div class="banner">
	<p>My Images</p>
</div>
<br>
<%= cloudinary_js_config %>

<div class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		Select Images to upload by clicking into the space
	</div>
	<div class="content">
		<%= form_tag user_profile_images_path(@user.profile), class: "dropzone", id: "media-dropzone" do %>
				<div class="fallback">
					<%= file_field_tag "media", multiple: true%>
				</div>
		<% end %>
	</div>
</div>

<div class="ui container">
	<% if @user == current_user %>
			<input type="button" id="btn-upload" class="ui teal button" value="Upload images">
	<% end %>
	<br>
	<br>
	<div class="ui stackable four column grid">
		<% @images.each do |image| %>
				<div id="image-<%= image.id %>" class="column">
					<div class="ui card">
						<div class="content">
							<div class="right floated meta"><%= time_ago_in_words(image.created_at) %></div>
						</div>
						<div class="image">
							<%= cl_image_tag(image.image_url) %>
						</div>
						<div class="extra">
							<div id="img" class="content">
								<% if current_user == image.profile.user %>
									<i id="image-<%= image.id %>" class="cancel icon"></i>
								<% end %>
								<!--<i id="like-image-<%#= image.id %>" class="like icon"></i>-->
								<%= link_to semantic_icon('like', style: if current_user.user_likes.find_by(likable_id: image.id).nil?
									                                         "color: grey;"
									                                       else
										                                       "color: red;"
								                                         end
								            ),
								            likes_path(likable: {likable_type: "Image", likable_id: image.id}),
								            id: "image-#{image.id}",
								            method: :post,
								            remote: true
								%>
								<span id="liked<%= image.id %>"><%= image.likes.count %></span>
							</div>
						</div>
					</div>
				</div>
		<% end %>
	</div>
</div>



<script type="text/javascript" charset="utf-8">
<% @images.each do |image| %>

      $('#image-<%= image.id %>').on('ajax:success', function (e, response){
          var count = $('#liked<%= image.id %>');
          var likes = parseInt(count.html());

          if (response.success == "liked") {
              console.log(response.success);
              var c = likes + 1;
//              debugger
              $('#image-<%= image.id %> .like').css("color", "red");
              count.html(c)
          }
          else if (response.success == "unliked") {
              console.log(response.success);
              var c = likes - 1;
              $('#image-<%= image.id %> .like').css("color", "grey");
              count.html(c)
          }
      });
<% end %>

    $('#img .cancel').on('click', function () {
        var id = $(this).attr("id").substring(6, 999);
        var user_id = <%= current_user.id %>
        console.log(id);
        $.ajax({
            method: 'DELETE',
		        url: '/users/' + user_id + '/profile/images/' + id
        }).done(function(data) {
            console.log(data);
            $('#image-' + data.id).remove();
        });
    });

    $(function() {
        var mediaDropzone;
        mediaDropzone = new Dropzone("#media-dropzone");
        return mediaDropzone.on("success", function(file, responseText) {
            var imageUrl;
            imageUrl = responseText.file_name;
        });
    });

    $('#btn-upload').on('click', function () {
        $('.ui.modal').modal('show')
        ;
    });


</script>