<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutBuddy</title>
    <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

<header>
	<div class="row">
		<div id="login-form" class="ui stackable inverted segment">
			<div class="ui inverted secondary menu">
				<div id="logo">
					Workout Buddy
				</div>
				<div class="right menu">
					<% if user_signed_in? %>
							<% unless current_user.account.is_premium? %>
								<div class="item">
									<%= link_to "get premium", user_account_path(current_user) %>
								</div>
							<% end %>
							<div id= "name">
								<p>Welcome <%= current_user.name || current_user.username %>! </p>
							</div>
							<div id="logout" class= "">
								<%= link_to "Logout", destroy_user_session_path, class: "ui inverted red basic button", method: :delete %>
							</div>
							<div id="profile-img" class="ui mini circular image">
								<%= image_tag current_user.image unless current_user.image.nil? %>
							</div>

					<% else %>
							<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
									<!--<div class="ui inverted segment">-->
									<div class="ui inverted mini form">
										<div class="three fields">
											<div class="field">
												<%#= f.label :username %>
												<%= f.text_field :username, autofocus: true, placeholder: "username" %>
											</div>
											<div class="field">
												<%#= f.label :password %>
												<%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
											</div>
											<div class="field">
												<%= f.submit "Log in", class: "ui submit tiny teal button"%>
											</div>
										</div>
										<div class="inline field">
											<% if devise_mapping.rememberable? -%>
													<div class="ui checkbox">
														<%= f.check_box :remember_me %>
														<%= f.label :remember_me %>
													</div>
											<% end -%>
											<div class="inline">
												<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
											</div>
										</div>
							<% end %>
							</div>
							<!--</div>-->
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="ui grid">
		<div class="row">
			<div class="nav">
				<div class="ui secondary pointing menu">
					<div class="left stackable menu">
						<% if user_signed_in? %>
								<a class="item">
									Home
								</a>
								<%= link_to "Search", searches_path, class: "item" %>
								<%= link_to "My Profile", user_profile_path(current_user.id), class: "item" %>
								<%= link_to "My Account", user_account_path(current_user.id), class: "item" %>
								<%= link_to "Messages", conversations_path, class: "item" %>
								<%= link_to "My Gallery", user_profile_images_path(current_user.id), class: "item" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

	</div>
</header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <body>
    <%= yield %>
  </body>
</html>

<script type="text/javascript" charset="utf-8">
    $('.menu .item').tab();
</script>

